
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="thumbnail">
        <img src="~/Content/img100.jpg" alt="Map" />
    </div>
    @foreach (var sensor in Model)
    {
        <div class="row">
            <div>
                <span>@sensor.Name</span>
            </div>
            <div id="sensor-value-@sensor.Id">
                <canvas id="sensor-canvas-@sensor.Id"></canvas>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/scripts/underscore.min.js"></script>
    <script src="~/scripts/Chart.min.js"></script>
    <script>

        var sensors = @Html.Raw(Json.Encode(Model));
        sensors.forEach(function (sensor) {
            sensor.Values.forEach(function(v) {
                v.Time = new Date(parseInt(v.Time.replace('/Date(', '').replace(')/', ''), 10));
            });
        });

        function toLabel(v) {
            return v.Time.toLocaleTimeString();
        }
        function toData(v) {
            return v.Value;
        }

        $(function () {

            var charts = [];
            sensors.forEach(function (sensor) {
                var ctx = document.getElementById("sensor-canvas-" + sensor.Id).getContext("2d");
                var config = {
                    type: 'line',
                    data: {
                        labels: sensor.Values.map(toLabel),
                        datasets: [{
                            label: '温度',
                            fill: false,
                            data: sensor.Values.map(toData)
                        }]
                    }
                };
                charts[sensor.Id] = new Chart(ctx, config);
            })

            var hub = $.connection.ioTHub;
            hub.client.addValue = function (id, time, value) {
                var sensor = _.find(sensors, function(x) {return x.Id == id;});
                if (sensor) {
                    sensor.Values.push({Time: new Date(time), Value: value});
                    if (sensor.Values.length > 10) {
                        sensor.Values.shift();
                    }
                    charts[id].data.labels = sensor.Values.map(toLabel);
                    charts[id].data.datasets[0].data = sensor.Values.map(toData);
                    charts[id].update();
                }
            };

            $.connection.hub.start();
        });
    </script>
}
